h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #385e72;
    text-align: center;
}

h2 {
    margin-top: 20px;
    color: #385e72;
    margin-left: 40px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


ul {
    list-style: none;
    padding: 0;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #385e72;
}

body p {
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    color: #385e72;
    float: left;
}

body img {
    width: 200px;
    max-width: 200px;
    float: right;
    float: top;
}

body {
    background-color: aliceblue;
}

footer {
    margin-bottom: 20px;
    margin-top: 50px;
}

.work-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}