/* master */

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #385e72;
    text-align: center;
}

body {
    background-color: aliceblue;
    color: #385e72;
    font-size: 16px;
}

h2 {
    margin-top: 20px;
    color: #385e72;
    margin-left: 40px;
}

body p {
    width: 100%;
    line-height: 1.6;
    color: #385e72;
}

body img {
    width: 100%;
    max-width: 200px;
}

header {
    text-align: center;
    background-color: #d9e4ec;
}

header h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #385e72;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #385e72;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}