h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #385e72;
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #385e72;
}

body {
    background-color: aliceblue;
    color: #385e72;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
    color: #385e72;
    margin-left: 40px;
}